/* martian-mono-100 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/martian-mono-v6-latin_latin-ext-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martian-mono-v6-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/martian-mono-v6-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --flow-space: 1rem;
  --primary-color: #00E100;
  --secondary-color: rgba(0, 32, 0, 1);
  --teritary-color: #ffcc00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; 
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
}

:where(html) {
  line-height: 1.5;
  scrollbar-gutter: stable;
}

:where(:focus-visible) {
  outline-offset: 3px;
}

body {
  font-family: "Martian Mono", Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
  font-size: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: var(--flow-space); 
}

h1 {
  font-size: 2rem;
  line-height: 1.125;
  margin-top: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.15;
  margin-top: 2.625rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.175;
  margin-top: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 1.874rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.225;
  margin-top: 1.6875rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 1.5rem;
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: var(--flow-space);
  color: var(--primary-color);
  font-style: normal;
  font-weight: 400;
}

:where(ol, ul) li {
  margin-bottom: calc(var(--flow-space) * 0.25);
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
  margin-top: calc(var(--flow-space) * 0.25);
}

ul li {
  list-style: square;
}

ol.list-unstyled li,
ul.list-unstyled li {
  list-style: none;
}

:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--flow-space);
}

p {
  margin-bottom: var(--flow-space);
}

main {
  display: block;
  max-width: 70ch;
}

@media (min-width: 576px) {
  max-width: 30ch;
}

@media (min-width: 768px) {
  max-width: 50ch;
}

a {
  color: var(--teritary-color);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.scanlines {
  position: relative;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 2px;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}