{{ define "main" }}
<article>
  <header>
    <h1 class="no-margin-bottom">{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <p class="text-muted">Posted on <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
  </header>
  {{ .Content }}
  
  <hr>
  
  <footer>
    {{ $lastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $lastmodHuman := .Lastmod | time.Format ":date_long" }}
    <p class="text-muted">Last modified: <time datetime="{{ $lastmodMachine }}">{{ $lastmodHuman }}</time></p>  
  
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </footer>
</article>
{{ end }}
